:root{
    --main-color:#37517E;
}

.hero-container{
    background-color: var(--main-color) !important;
}

nav a{
    color: white !important;
}


.dropdown-menu a{
    color: black !important;
}

.animation{
    animation: move 2s ease-in-out infinite alternate;
}

.gray{
    width: 150px;
    height: 2px;
    background-color: lightgray;
    margin: auto;
    position: relative;
}

.cyan{
    width: 60px;
    height: 5px;
    background-color: cyan;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes move{
    from{
        transform: translateY(-10px);
    }to{
        transform: translateY(10px);
    }
}
.text-blue{
    color: var(--main-color) !important;
}
.text-color{
    color: #37517E;
}
.card-color{
    color: #56534A;
}

.hover:hover{
    color: cyan;
}
.hover{
    transition: all 0.4s;
}

.p-heading{
    font-size: 0.7rem;
    font-weight: bold;
}

.up-down{
    transition: all 0.4s;
}

.up-down:hover h5{
  color: aqua !important;
}

.up-down h5{
    transition: all 0.4s;
}

.up-down:hover{
    cursor: pointer;
    transform: translateY(-15px);
}




img{
    
    transition: all 0.2s;
    
}

.w-card{
    transition: all 0.4s;
    overflow: hidden;
}

.w-card:hover{
    cursor: pointer;
    transform: translateY(-10px);
}

.w-card:hover img{
    scale: 1.09;
}

.image-container{
    background: linear-gradient(to right,rgba(36, 88, 135,0.7)), url(https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp) fixed;
}

.img-container{
    overflow: hidden;
}
.overlay{
    bottom: 0;
    transform: translateY(100px);
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.8);
}

.img-container:hover .overlay{
   transform: translateY(0);
   
}
.hover-card:hover{
    color: cyan;
    cursor: pointer;
}
.hover-card{
    transition: all 0.4s;
}
.member-icons{
    background-color: #F4F4F4;
    width: 50px;
    height:50px;
    border-radius: 40px;   
}

.member-icons:hover{
    background-color: cyan;
    color: white;
}
.team-card:hover{
    transform: translateY(-10px);
}
.team-card{
    transition: all 0.4s;
}

.main{
    width: 900px;
    height:900px;
    background-color: red;
    margin: auto;
}

.blue-line{
    width: 100%;
    height: 5px;
    background-color: cyan;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.teams{
    width: 130px;
    margin: 0 auto;

}

.post-date{
    right: 0;
    bottom: 0;
    color: white;
    
}

#contact:hover i{
  color: white;
  background-color: cyan;
}

.up-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}